.footer {
  background-color: #434343;
  padding-bottom: 100px;
}

.footer__container {
  padding-left: 110px;
  padding-top: 100px;
  display: flex;
}

.footer__link {
  color: #ffffff;
}

.name-block {
  color: #AAAAAA;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer__column1 {
  padding-top: 23px;
  line-height: 22px;
}

.footer__column1-items {
  padding-top: 28px;
}

.footer__column-items {
  padding-top: 15px;
}

.footer__blocks-second {
  padding-left: 20px;
}

.footer__blocks-third {
  padding-left: 20px;
}

.footer__email {
  background-color: #666;
  border: none;
  height: 40px;
  width: 299px;
}

.footer__under {
  margin-top: 28px;
  margin-left: 110px;
  border-top: 1px solid #666666;
  width: 1180px;
}

.footer__under__box {
  margin-top: 23px;
  display: flex;
}  

.footer__button {
  margin-left: -5px;
  padding-top: -1px;
  width: 81px;
  height: 40px;
}

.footer_awards {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer_awards__item {
  align-items: center;
  background-color: #666;
  border-radius: 15px;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.footer__rating__group {
  color: #ffffff;
  display: flex;
}

.footer__rating {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 16px;
  align-items: center;
}

.footer__star {
  padding-left: 25px;
}

.rating__star {
  display: none;
  margin: 0;
  position: absolute;
}

.label-rating {
  background-image: url(../img/icon/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 15px 13px;
  margin-top: 3px;
  margin-right: 5px;
  padding-right: 15px;
}

.footer__under-info {
  padding-left: 154px;
  color: #ffffff;
}

.footer__under-info-link {
  color: #A2A2A2;
  padding-left: 154px;
}
