.header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-left: 110px;
}

.header__nav {
  padding-left: 35px;
  padding-bottom: 5px;
}

.header__list {
  display: flex;  
  height: 20px;
  left: 216px;
  top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.header__contact {
  padding-left: 650px;
}

.header__contact-item {
  font-weight: 700;
  font-size: 14px;
  color: #1E0606;
  padding-left: 24px;
}

.header__logo {
  padding-right: 25px;
}

.header__list-link {
  font-size: 16px;
  line-height: 20px;
  color: #1E0606;
  padding-right: 15px;
}